.present {
    width: 100%;
    /* height: 100vh; */
    background-color: #238138;
    background-image: url(/Images/green-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.mainContent .texts .years .year:nth-child(4) {
    font-family: "Winglet", sans-serif;
    font-size: clamp(4rem, 10vw, 10rem);
    color: var(--green);
}

.mainContent .texts .years .year:nth-child(3) {
    font-family: "Winglet", sans-serif;
    font-size: 4rem;
    color: var(--bgColor);
}
.mainContent .texts .years .year:nth-child(2) {
    font-family: "Winglet", sans-serif;
    font-size: 3rem;
    color: var(--bgColor);
}
.mainContent .texts .years .year:nth-child(1) {
    font-family: "Winglet", sans-serif;
    font-size: 2rem;
    color: var(--bgColor);
}

.mainContent .texts .description > p {
    font-family: "Lato", sans-serif;
    font-weight: lighter;
    color: var(--bgColor);
    line-height: clamp(1rem, 10vw, 2rem);
    font-size: clamp(16px, 5vw, 20px);
}
