/* Global Styles */

h1 {
    margin: 0;
    font-size: 8rem;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
}

.search-bar {
    text-align: center;
    margin-bottom: 20px;
}

.search-bar input {
    padding: 5px;
}

.search-bar button {
    padding: 5px 10px;
    background-color: #555;
    color: #fff;
    border: none;
}

/* main */

img {
    max-width: 100%;
    border-radius: 10px;
}

.teaser-articles {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    padding: 1rem;
    margin: 1rem;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

#contact {
    margin-bottom: 30px;
}

#contact h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

#contact ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#contact li {
    margin: 10px 0;
}

#contact span {
    font-weight: bold;
    margin-right: 10px;
}

#contact a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.table-container {
    margin: 0 auto;
    width: 80%;
}

table {
    border-collapse: collapse;
    width: 100%;
}

caption {
    margin-bottom: 0.5rem;
}

th,
td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

/* Media Queries */
@media (max-width: 768px) {
    h1 {
        font-size: 30px;
    }

    nav li {
        margin-right: 15px;
    }

    .teaser-articles {
        flex-wrap: wrap;
        justify-content: center;
    }

    .teaser-articles .image-container {
        text-align: center;
    }

    /* Mobile-friendly adjustments */
    .teaser-articles img {
        max-width: 80%;
    }
}
